
<div class="container">

	<div class="pasteee">
		<%= form_for :link, url:links_path do |f| %>
		<%= f.text_field :address, :placeholder => 'PASTEEE a link...', :autocomplete => 'off' %>
		<br />
	</div>
	<div id="spinner" style="display:none">
		<%= image_tag ("spinner.gif") %>
	</div>

	<div id="title_hide" style="display:none">
		<%= f.label :name, 'User' %>
		<%= f.text_field :name %><br />

		<%= f.label :title %>
		<%= f.text_field :title %><br />

		<%= f.submit %>
		<% end %>
	</div>


	<br>
	<% @links.each do |link| %>
	
	<div class="link-wrapper">

		<!-- image link --> 
		<div class="link">
			<!-- text link -->  
			<a href="<%= link.address %>" target="_blank">
				<%= truncate(link.title, :length => 70) %>
			</a>

			<!-- link attributes -->  
			<div class="link-attr">
				<b><%= link.name %></b>
				<%= link.created_at.strftime("%b %d %Y") %>
			</div>

			<div class="delete">
				<%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %>
			</div>

		</div>
		
	</div>

	<!-- comments -->  
	<div class="comment-amount" id="c_<%= link.id %>">
		<div class="comment-amount-inner">
			<%= link.comments.count %>
		</div>
	</div>

	<div class="comm-hide" id="cc_<%= link.id %>" style="display:none">
		<% link.comments.each do |comment| %>
		<div class="comment">
			<div class="comment-text">
				<h3><%= comment.body %></h3>
				<p>
					<%= comment.commenter %>
				</p>
			</div>
		</div>
		<% end %>

		<div class="new-comment">
			<%= form_for([link, link.comments.build]) do |f| %>
			<p>
				<%= f.label :commenter %><br />
				<%= f.text_field :commenter %>
			</p>
			<p>
				<%= f.label :body %><br />
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
			<% end %>
		</div>
	</div>

	<% end %>












