<div class="touch">

<div class="pasteee">
	<%= form_for :link, url:links_path do |f| %>
	<%= f.text_field :address, :placeholder => 'PASTEEE a link...', :autocomplete => 'off' %>
	<br />
</div>
<div id="spinner" style="display:none">
	<%= image_tag ("spinner.gif") %>
</div>

<div id="title_hide" style="display:none">
	<%= f.label :name, 'User' %>
	<%= f.text_field :name %><br />

	<%= f.label :title %>
	<%= f.text_field :title %><br />

	<%= f.submit %>
	<% end %>
</div>


<div class="links">
<% @links.each do |link| %>
	<div class="link" id="c_<%= link.id %>">
		<!-- image link -->
			<!-- text link -->
			<h3><%= truncate(link.title, :length => 120) %></h3>
			<!-- link attributes -->
			<div class="link-attr">
				<b><%= link.name %></b>&nbsp;
				<i><%= time_ago_in_words(link.created_at) %> ago</i>&nbsp;
				| <%= link.comments.count %> comments
			</div>
			<!--
			<div class="delete">
				<%= link_to 'Edit', edit_link_path(link) %>
				<%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %>
			</div>
			-->
	</div>
	<% end %>
</div><!-- CLOSE links -->


<div class="comments">
<% @links.each do |link| %>
	<div class="comm-hide" id="cc_<%= link.id %>" style="display:none">
		<% link.comments.each do |comment| %>
		<div class="comment">
			<div class="comment-text">
				<h3><%= comment.body.html_safe %></h3>
				<p>
					<%= comment.commenter %>
				</p>
				<div class="delete">
					<%= link_to 'Edit', {:controller => 'comments',
										:action => 'edit',
										:link_id => link.id,
										:id => comment.id } %>
					<%= link_to 'Delete', [comment.links, comment], :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</div>
		</div>
		<% end %>

		<div class="new-comment">
			<%= form_for([link, link.comments.build]) do |f| %>
			<p>
				<%= f.label :commenter %><br />
				<%= f.text_field :commenter %>
			</p>
			<p>
				<%= f.label :body %><br />
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
			<% end %>
		</div>
	</div>
	<% end %>
</div> <!-- CLOSE comments -->



</div>  <!-- CLOSE touch -->











