<div class="touch">

<div class="pasteee">
	<%= form_for @links, :url => links_path do |f| %>
	<%= f.text_field :address, :placeholder => 'PASTEEE a link...', :autocomplete => 'off' %>
	<br />
</div>
<div id="spinner" style="display:none">
	<%= image_tag ("spinner.gif") %>
</div>

<div id="title_hide" style="display:none">
	<%= f.label :title %>
	<%= f.text_field :title %><br />

	<%= f.label :description %>
	<%= f.text_field :description %><br />

	<%= f.label :thumbnail %>
	<%= f.hidden_field :thumbnail %><br />
	<img id="thumbnail" src="" style="max-height: 200px">

	<%= f.submit %>
	<% end %>
</div>


<div class="links">
<% @links_show.each do |link| %>
	<div class="link" id="c_<%= link.id %>">
		<!-- image link -->
			<!-- text link -->
			<h3><%= truncate(link.title, :length => 120) %></h3>
			<!-- link attributes -->
			<div class="link-attr">
				<h4><%= link.name %></h4>
				<i><%= time_ago_in_words(link.created_at) %> ago</i>&nbsp;
				| <%= link.comments.count %> comments
			</div>
	</div>
	<% end %>
</div><!-- CLOSE links -->


<div class="comments">
<% @links_show.each_with_index do |link, index| %>
	<div class="comm-hide" id="cc_<%= link.id %>" style="<%= "display: none" unless index == 0 %>">

		<div class="link-card">
			<div class="left">
				<div class="thumb">
					<% if link.thumbnail.present? %>
						<img src="<%= link.thumbnail %>">
					<% else %>
						<div style="width: 100%; height: 100%; background: #ccc; display: block"></div>
					<% end %>
				</div>
				<div class="delete">
					<%= link_to 'Edit', edit_link_path(link) %>
					<%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</div>
			<div class="right">
				<a href="<%= link.address %>" target="_blank"><h2><%= link.title %></h2></a>
				<p><%= link.description %></p>
			</div>
		</div>


		<% link.comments.each do |comment| %>
		<div class="comment">
			<div class="left">
				<h4><%= comment.commenter %></h4>
				<div class="delete">
					<%= link_to 'Edit', {:controller => 'comments',
										:action => 'edit',
										:link_id => link.id,
										:id => comment.id } %>
					<%= link_to 'Delete', [comment.links, comment], :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</div>
			<div class="right">
				<p><%= comment.body.html_safe %></p>
			</div>
		</div>
		<% end %>

		<div class="new-comment">
			<%= form_for([link, link.comments.build]) do |f| %>
			<p>
				<%= f.label :commenter %><br />
				<%= f.text_field :commenter %>
			</p>
			<p>
				<%= f.label :body %><br />
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
			<% end %>
		</div>
	</div>
	<% end %>
</div> <!-- CLOSE comments -->



</div>  <!-- CLOSE touch -->











